# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

Simulation/Project Backups/
Hardware/pic18f45k22-7sd-with-timer/pic18f45k22-7sd-with-timer-backups/
Firmware/7SD-With-Timer.X/dist/default/production/
Firmware/7SD-With-Timer.X/build/default/production/
*.workspace
